@media only screen and (min-width: 1024px) {
  #about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-content: center;
  }

  #about-me .section__title{
    grid-column: 1/3;
  }

  #about-me p{
    display: inline-block;
    align-self: center;
  }

}