.btn{
    font: var(--button);
    text-transform: uppercase;
    border-radius: 2px;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
}

.btn-primary{
    background-color: var(--primary1);
    border: solid var(--primary1);
    color: var(--withe);
}

.btn-primary:hover{
    background-color: var(--primary2);
    color: var(--black);
    border: none;
}

.btn-secondary{
    background-color: transparent;
    color: var(--withe);
    border: 2px solid var(--primary1);
}

.btn-secondary:hover{
    background-color: var(--primary2);
    color: var(--black);
}