.console__parallax{
    position: relative;
    height: 323px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.console {
    position: absolute;
    padding: 12px;
    color: var(--color-primary);
    background:var(--color-vanilla);
    border-radius: 12px;
    width: 530px;
    height: 248px;
    margin: 0 auto;

    transition: transform 0.5s .25s cubic-bezier(0, 1, .3, 1), opacity 0.3s .25s ease-out;
    will-change: scroll-position;
}

.console__parallax:hover .console {
    transform: translateX(-300px);
    opacity: 1;
}

.console__dots {
    display: flex;
    justify-content: space-between;
    width: 69px;
    height: 15px;
    margin-bottom: 40px;
}

.dot {
    content: '';
    width: 15px;
    height: 15px;
    background: var(--color-primary);
    border-radius: 50%;
    margin: 0 2px;
}

.dot--red {
    background: red;
}

.dot--orange {
    background: orange;
}

.dot--green{
    background: green;
}

.console code {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

.console-pointer {
    color: green;
}

.console--select {
    color: cornflowerblue;
}

.console-git {
    color: palevioletred;
}

.console-branch {
    color: purple;
}

.console-command {
    color: goldenrod;
}

@media only screen and (min-width: 560px) {
    .console__parallax {
        display: flex;
        justify-content: flex-end;
    }
}