.footer{
    background-color: var(--color-vanilla);
    color: var(--color-primary);
}

.footer__content {
    text-align: center;
    padding: 25px;
}

.footer__contact {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 25px;
}

.footer__social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__social a {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 80px;
    color: var(--color-primary);
}

@media only screen and (min-width: 560px) {
    .footer__contact {
        flex-direction: row;
        justify-content: space-evenly;
    }
}