label{
    font: var(--headline4);
    text-transform: uppercase;
    color: var(--primary2);
    min-inline-size: 100%;
}

input, textarea{
    font: var(--headline4);
    color: var(--gray);
    padding-block-start: 15px;
    padding-block-end: 15px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    margin-block-start: 18px;
    border-radius: 2px;
    border: 2px solid var(--primary1);
}

.form div{
    margin-block-start: 32px;
    display: flex;
    flex-direction: column;
}

#mailto{
    opacity: 0;
}

#error-name, #error-email{
    max-width: 340px;
}

@media screen and (min-width: 768px){
    .form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .form div:nth-child(1), .form div:nth-child(2){
        min-width: 340px;
    }

    .form div:nth-child(3){
        min-width: 100%;
    }

    .form div:nth-child(4){
        margin: 0 auto;
        margin-block-start: 32px;
    }
}

@media screen and (min-width: 1024px){
    .form div:nth-child(1), .form div:nth-child(2){
        min-width: 540px;
    }
}