ul {
    padding-inline-start: 0;
}

.nav__toggle {
    position: absolute;
    cursor: pointer;
    margin: 0 1rem;
    right: 0;
}

.nav__toggle svg {
    width: 24px;
    fill: var(--color-link);
}

.nav__toggle .close {
    display: none;
}
.nav__toggle .close {
    display: none;
}

.nav__toggle .close,
.nav__toggle .menu {
    margin-top: 0.3rem;
}

.nav__checkbox {
    display: none;
}

.nav__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
}

.nav__menu li {
    list-style-type: none;
    display: none;
    font: var(--font-link-menu);
    text-transform: uppercase;
}

.nav__menu li:first-child {
    margin-right: auto;
    display: flex;
}

.nav__menu a {
    position: relative;
    text-decoration: none;
    color: var(--color-link);
}

.nav__menu a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    left: 0;
    bottom: -4px;
    background: var(--color-link);
    transition: width 0.2s ease-in-out;
}

.nav__menu a:hover{
    color: var(--color-vanilla);
}

.nav__menu a:hover::after{
    width: 100%;
}

.menu__logo {
    height: 30px;
}

.menu__logo img {
    height: 100%;
}

.rest-name {
    display: none;
}

#nav__checkbox:checked ~ ul.nav__menu li {
    display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
    display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
    display: none;
}

@media only screen and (min-width: 560px) {
    .nav__toggle {
        display: none;
    }
    
    .nav__menu {
        width: initial;
        position: relative;
        flex-direction: row;
    }
    
    .nav__menu li {
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    .menu__logo {
        align-items: center;
    }
    .rest-name {
        display: initial;
        margin-left: 4px;
        text-transform: none;
    }
}