.hero__container{
    background: url('../img/hero-background.svg') no-repeat top, var(--color-primary);
    background-size: 100vw 128vh;
}
.hero{
    min-height: calc(100vh - (30px + 2rem));
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__image{
    margin-top: 17px;
    text-align: center;
}

.hero__image img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: 50% 35%;
    border-radius: 50%;
}

.hero__title{
    text-align: center;
}

.hero__hello{
    display: none;
}

.hero__mylastname {
    color: var(--color-vanilla)
}

.hero__content {
    width: 100%;
    align-self: flex-start;
}

.hero__role {
    color: var(--color-link-hover);
    text-align: left;
}

.hero__description {
    font: var(--font-body2);
    max-width: 300px;
}

.hero__social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.hero__social a{
    color: var(--color-white);
    display: flex;
    align-items: flex-end;
}

.hero__social a:visited{
    color: var(--color-vanilla);
}

.hero__social img{
    margin-right: 12px;
}

.hero-curriculum{
    margin-top: 2rem;
}