.hobbies__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.hobby{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.hobby__description {
  margin-bottom: 20px;
}

@media only screen and (min-width: 560px) {
  .hobbies__container {
    display: flex;
    justify-content: space-around;
  }
}