/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
@import "./header.css";
@import "./hero.css";
@import "./buttons.css";
/*@import "./aboutme.css";
@import "./skills.css";
@import "./projects.css";
@import "./hobbies.css";
@import "./inspirations.css";
@import "./form.css";
@import "./footer.css"; */
/*------ Variables ------*/
:root{
    /*------ Colors ------*/
    --color-primary: #002230;
    --color-secondary: #6A7B76;
    --color-white: #F2F2F2;
    --color-vanilla: #EBEBD3;
    --color-link: #F96E46;
    --color-link-hover: #C03221;
    /*------ Fonts ------*/
    --font-family: 'KoHo', sans-serif;
    --font-headline1: 300 48px/62.4px var(--font-family);
    --font-headline2: 300 36px/46.8px var(--font-family);
    --font-headline3: 500 24px/31.2px var(--font-family);
    --font-headline4: 500 18px/23.4px var(--font-family);
    --font-headline5: 500 16px/20.8px var(--font-family);
    --font-body: 700 16px/28px var(--font-family);
    --font-body2: 400 18px/23.4px var(--font-family);

    --font-button: 500 18px/23.4px var(--font-family);
    --font-link: 400 16px/20.8px var(--font-family);
    --font-link-menu: 300 18px/23.4px var(--font-family);
    /*------ Numbers ------*/
    --font-letter-spacing: 0.08em;
}

* {
    margin: 0;
}
body{
    font: var(--font-body);
    background-color: var(--color-primary);
    min-block-size: 100vh;
    color: var(--color-white);
    max-inline-size: 1158px;
}

h1{
    font: var(--font-headline1);
    text-transform: uppercase;
}

h2{
    font: var(--font-headline2);
}

a{
    font: var(--font-link);
    text-decoration: none;
}