.inspiration-item{
    display: flex;
    padding-block-start: 32px;
}

.inspiration-description{
    padding-inline-start: 16px;
}

.inspiration-name h3{
    font: var(--headline4);
    text-transform: uppercase;
    margin: 0;
}

.inspiration-do p{
    margin: 0;
    margin-block-start: 5px;
}

@media screen and (min-width: 768px){
    .inspirations{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .inspiration-item{
        min-width: 325px;
    }

    .project-description{
        min-block-size: 170px;
    }
}