.inspiration__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}

.inspiration__image, .inspiration__image img {
    border-color: 2px solid var(--color-vanilla);
    align-self: flex-end;
    width: 40px;
    height: 40px;
}

.inspiration__content {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-white);
    max-width: 400px;
    max-height: 203px;
    border-radius: 12px 12px 12px 0px;
    margin-left: 8px;
    padding: 12px;
}

.inspiration__item--right {
    flex-direction: row-reverse;
}

.inspiration__item--right .inspiration__content {
    border-radius: 12px 12px 0px 12px;
}

.inspiration__item--right .inspiration__content {
    margin-left: 0;
    margin-right: 8px;
}

.inspiration__content h5 {
    color: var(--color-primary);
}

.inspiration__content blockquote {
    font: var(--font-headline3);
    margin: 18px 12px;
}

@media only screen and (min-width: 560px) {
    .inspiration__image, .inspiration__image img {
        width: 100px;
        height: 100px;
    }
}
