section{
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

.container {
  max-inline-size: 1158px;
  margin: 0 auto;
}

.section__title {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding-left: 21px;
  border-left: 3px solid var(--color-link);
}

.section__description {
  margin-top: 18px;
  margin-bottom: 25px;
}

@media only screen and (min-width: 560px) {
  .section__description {
    max-width: 500px;
    margin-bottom: 50px;
    margin-left: 28px;
  }

}

@media only screen and (min-width: 1024px) {
  section {
    padding-bottom: 80px;
  }
}