---
import Console from './Console.astro'
---

<style>
  @media only screen and (min-width: 1024px) {
    #about-me {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      align-content: center;
    }

    #about-me .section__title {
      grid-column: 1/3;
    }

    #about-me p {
      display: inline-block;
      align-self: center;
    }
  }
</style>
<section id="about-me" class="container">
  <h2 class="section__title">About me</h2>
  <p class="section__description">
    Colombian professional with +7 years of experience in various roles,
    including backend and frontend development. I am a passionate learner who
    constantly seeks new challenges and opportunities to enhance my skillset.
    With a strong proficiency in Figma, I effectively bridge the gap between
    development and design teams, facilitating seamless collaboration. I have
    been part of high-performing teams, contributing to the development of
    cutting-edge tools and technologies to solve complex problems.
  </p>
  <Console />
</section>
