<div class="wave">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 1920 1180"
    preserveAspectRatio="none"
  >
    <rect fill="#002230"></rect>
    <g
      transform="matrix(-2.112515728529184e-16,-1.15,1.15,-2.112515728529184e-16,290.3943328857424,1588.1034828186037)"
    >
      <path
        d="M0,-1080C0.7957208309121336,-965.2991560529051,1.9050078523130218,-600.6183508272907,4.774324985472802,-391.7949363174307C7.643642118632583,-182.97152180757075,34.208911151123196,-46.11312912618919,17.21590279895868,172.94048705915984C0.22289444679416448,391.9941032445089,-95.35847939390997,695.0340336472318,-97.1837251275143,922.5267607946633C-99.00897086111861,1150.0194879420949,-9.93285912391963,1331.651310076193,6.26442839733275,1537.8968499437492C22.46171591858513,1744.1423898113053,1.0440713995554585,2056.3161416572916,0,2160L 1920 2160 L 1920 -1080 Z"
        fill='url("#SvgjsLinearGradient1044")'></path>
      <path
        d="M240,-1080C251.25130385360492,-973.9216404725855,311.4017452700558,-620.842652006893,307.5078231216296,-443.5298428355135C303.6139009732034,-266.21703366413396,222.77340135342553,-189.10879585522127,216.6364671094429,-16.123144971722596C210.49953286546025,156.86250591177605,264.9487074210517,412.70794443652824,270.6862176577337,594.3840624654785C276.4237278944157,776.0601804944287,268.08233764727703,905.080163438063,251.06152852953474,1073.9335632019788C234.04071941179245,1242.7869629658946,170.40495103953577,1426.4933882493035,168.56136295128,1607.5044610489738C166.7177748630242,1788.515533848644,228.09356049188,2067.917410174829,240,2160L 1920 2160 L 1920 -1080 Z"
        fill='url("#SvgjsLinearGradient1045")'></path>
      <path
        d="M480,-1080C476.03781092977187,-1011.2742426888024,444.4407404576618,-816.7971857909375,456.22686557863113,-667.6454561328142C468.0129906996005,-518.4937264746908,556.9977359162586,-346.00367593887313,550.7167507258163,-185.08962205125994C544.4357655353739,-24.175568163646773,426.4711835090019,146.65529809575068,418.5409544359771,297.8388671928648C410.6107253629523,449.02243628997894,505.11914807123486,551.3951783826355,503.13537628766744,722.0117925314249C501.1516045041,892.6284066802143,423.5129532347755,1168.305400276617,406.6383237345726,1321.5385520856014C389.7636942343697,1474.7717038945857,389.66065324221216,1501.6671287329316,401.88759928645004,1641.4107033853313C414.1145453306879,1781.154278037731,466.98126654774165,2073.568450564222,480,2160L 1920 2160 L 1920 -1080 Z"
        fill='url("#SvgjsLinearGradient1046")'></path>
      <path
        d="M720,-1080C706.4417236090796,-992.5050952644614,627.2755249291515,-749.6711516472961,638.6503416544778,-555.0305715867684C650.025158379804,-360.3899915262406,762.851161091695,-108.86380763417256,788.2489003519577,87.843480363167C813.6466396122204,284.5507683605066,789.8554315423371,453.08037484210286,791.0367772160541,625.2131563972691C792.2181228897712,797.3459379524354,804.7390782932808,959.6277437724692,795.3369743942596,1120.6401696941643C785.9348704952384,1281.6525956158594,747.1803162209701,1418.061073543134,734.6241538219268,1591.28771192744C722.0679914228836,1764.5143503117458,722.4373589703212,2065.2146186545733,720,2160L 1920 2160 L 1920 -1080 Z"
        fill='url("#SvgjsLinearGradient1047")'></path>
      <path
        d="M960,-1080C965.2170391029779,-1025.0347063442885,1008.0222707108924,-875.5125578852465,991.3022346178673,-750.208238065731C974.5821985248422,-624.9039182462157,880.316929063295,-491.4870923345812,859.6797834418497,-328.17408108290766C839.0426378204045,-164.86106983123415,840.0626195488406,70.64574950966463,867.4793608891954,229.6698294443101C894.8961022295501,388.6939093789556,995.6864220327569,501.561427879351,1024.1802314839783,625.9703985249653C1052.6740409351999,750.3793691705796,1037.2907350715302,851.7269112601053,1038.442217596524,976.1236533179957C1039.5937001215177,1100.5203953758862,1042.2924910054182,1243.2746498254455,1031.0891266339409,1372.3508508723078C1019.8857622624635,1501.42705191917,983.070219139983,1619.3060014112202,971.2220313676595,1750.580859599169C959.373843595336,1881.8557177871176,961.8703385612766,2091.7634765998614,960,2160L 1920 2160 L 1920 -1080 Z"
        fill='url("#SvgjsLinearGradient1048")'></path>
      <path
        d="M1200,-1080C1193.055394319339,-958.8985753393177,1144.379364815582,-584.4399202047043,1158.332365916034,-353.39145203590647C1172.285367016486,-122.34298386710864,1284.83852038861,88.270256700999,1283.718006602712,306.2908090127869C1282.5974928168139,524.3113613245748,1150.9127079994469,769.6008981027919,1151.609283200646,954.7318618348208C1152.305858401845,1139.8628255668498,1279.8323383433474,1216.1985683774308,1287.8974578099064,1417.0765914049607C1295.9625772764655,1617.9546144324906,1214.649576301651,2036.1794319008268,1200,2160L 1920 2160 L 1920 -1080 Z"
        fill='url("#SvgjsLinearGradient1049")'></path>
      <path
        d="M1440,-1080C1441.6399361668598,-1002.4023016061969,1450.9962182958784,-785.4846427680919,1449.8396170011592,-614.4138096371819C1448.68301570644,-443.34297650627184,1427.4715521581168,-196.79410887792793,1433.0603922316848,-53.57500121454001C1438.6492323052528,89.64410644884791,1477.0811876767298,123.42181501755682,1483.3726574425677,244.9008363431456C1489.6641272084057,366.3798576687344,1470.6512027761944,524.2629153924061,1470.8092108267124,675.2991267389928C1470.9672188772304,826.3353380855795,1506.2039895486805,988.1793321779763,1484.3207057456752,1151.1181044226657C1462.43742194267,1314.0568766673553,1346.896292299626,1484.784777610907,1339.5095080086803,1652.9317602071294C1332.1227237177345,1821.0787428033518,1423.2515846681133,2075.4886267011884,1440,2160L 1920 2160 L 1920 -1080 Z"
        fill='url("#SvgjsLinearGradient1050")'></path>
      <path
        d="M1680,-1080C1678.024328204955,-981.1765224747217,1651.041179496912,-712.4105860725709,1668.1459692297308,-487.0591348483297C1685.2507589625495,-261.7076836240884,1764.9439104338148,58.585541730407755,1782.6287383969125,272.1087073454477C1800.31356636001,485.6318729604877,1807.4482467761666,571.1317802693329,1774.254937008316,794.0798588419102C1741.0616272404652,1017.0279374144875,1599.1780359578613,1382.1438219212298,1583.4688797898086,1609.7971787809115C1567.759723621756,1837.4505356405932,1663.911479964968,2068.2995297968187,1680,2160L 1920 2160 L 1920 -1080 Z"
        fill='url("#SvgjsLinearGradient1051")'></path>
    </g>
    <defs>
      <linearGradient
        x1="0.1"
        y1="0"
        x2="0"
        y2="1"
        id="SvgjsLinearGradient1044"
      >
        <stop stop-color="#002230" offset="0"></stop>
        <stop stop-color="#002a30" offset="0"></stop>
      </linearGradient>
      <linearGradient
        x1="0.1"
        y1="0"
        x2="0"
        y2="1"
        id="SvgjsLinearGradient1045"
      >
        <stop stop-color="#001d2a" offset="0"></stop>
        <stop stop-color="#00242a" offset="0.125"></stop>
      </linearGradient>
      <linearGradient
        x1="0.1"
        y1="0"
        x2="0"
        y2="1"
        id="SvgjsLinearGradient1046"
      >
        <stop stop-color="#001923" offset="0"></stop>
        <stop stop-color="#001f23" offset="0.25"></stop>
      </linearGradient>
      <linearGradient
        x1="0.1"
        y1="0"
        x2="0"
        y2="1"
        id="SvgjsLinearGradient1047"
      >
        <stop stop-color="#00141d" offset="0"></stop>
        <stop stop-color="#00191d" offset="0.375"></stop>
      </linearGradient>
      <linearGradient
        x1="0.1"
        y1="0"
        x2="0"
        y2="1"
        id="SvgjsLinearGradient1048"
      >
        <stop stop-color="#001017" offset="0"></stop>
        <stop stop-color="#001417" offset="0.5"></stop>
      </linearGradient>
      <linearGradient
        x1="0.1"
        y1="0"
        x2="0"
        y2="1"
        id="SvgjsLinearGradient1049"
      >
        <stop stop-color="#000b10" offset="0"></stop>
        <stop stop-color="#000e10" offset="0.625"></stop>
      </linearGradient>
      <linearGradient
        x1="0.1"
        y1="0"
        x2="0"
        y2="1"
        id="SvgjsLinearGradient1050"
      >
        <stop stop-color="#00070a" offset="0"></stop>
        <stop stop-color="#00090a" offset="0.75"></stop>
      </linearGradient>
      <linearGradient
        x1="0.1"
        y1="0"
        x2="0"
        y2="1"
        id="SvgjsLinearGradient1051"
      >
        <stop stop-color="#000203" offset="0"></stop>
        <stop stop-color="#000203" offset="0.875"></stop>
      </linearGradient>
    </defs>
  </svg>
</div>
<style>
  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
  }

  .wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100vh;
    transform: rotateY(180deg);
  }

  .wave .shape-fill {
    fill: var(--color-secondary);
  }
</style>
